<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">    
    <title>My Test App</title>
    <link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        {{{body}}}
    </div>    
</body>
</html>